<!--  add search form stuff  -->
<div id="SearchContainer">
	
	<!--  Instructions  -->
	<h2>
		Enter two Twitter screen names and start finding connections now!
	</h2>
	
	<!--  Search Form  -->
	<% form_tag friends_path, :id => "SearchForm", :name => "SearchForm", :method => :get do %>
		<span class="inline">
			<label for="tweeter1">Screen Name:</label>
			<%= text_field_tag 	:tweeter1, 
								nil, 
								:class => "main",
								:value => params[:tweeter1]
			%>
			
			<br/>

			<label for="tweeter2">Screen Name:</label>
			<%= text_field_tag 	:tweeter2, 
								nil, 
								:class => "main",
								:value => params[:tweeter2]
			%>
		</span>
		<span class="inline">
			<%= radio_button_tag :type, "degrees", (@type.blank? || @type == "degrees") %> Find degrees of separation
			<br />
			<%= radio_button_tag :type, "friends", (@type == "friends") %> Find shared friends
			<br />
			<%= radio_button_tag :type, "followers", (@type == "followers") %> Find shared followers
		</span>
		<span class="inline">
			<%= submit_tag "Search", :id => "commit", :class => "button" %>
		</span>
	<% end %>
</div>


<!--  add search results stuff  -->
<div id="ResultContainer">
	
	<% if @is_submitted == true %>
	
		<div class="header_container">
			<span class="header_left">
				<span class="header_detail">
					<%= render 	:partial => "friends/api_id", 
								:locals  => {
									:api_id => @t1.api_id
								} 
					%>
				</span>
			</span>
			<span class="header_right">
				<span class="header_detail">
					<%= render 	:partial => "friends/api_id", 
								:locals  => {
									:api_id => @t2.api_id
								} 
					%>
				</span>
			</span>
		</div>
	
		<h3><%= get_results_header(@type) %></h3>

		
		<%= will_paginate @collection %>
		<div class="list_container">
		<% @collection.each_with_index do |item, index| %>
			<% style_class = index.odd? ? "odd" : "even" %>
			<div class="list_detail">
				<div class="<%= style_class %>">
					<%= render 	:partial => "friends/api_id", 
								:locals  => {
									:api_id => item
								} 
					%>
				</div>
			</div>
		<% end %>
		</div>
		<%= will_paginate @collection %>
	
	<% end %>
</div>