<!--  add search form stuff  -->
<div id="SearchContainer">
	
	<!--  Instructions  -->
	<h2>
		Enter two Twitter screen names and start finding connections now!
	</h2>
	
	<!--  Search Form  -->
	<% form_tag friends_path, :id => "SearchForm", :name => "SearchForm", :method => :get do %>
		<span class="inline">
			<label for="tweeter1">Screen Name:</label>
			<%= text_field_tag 	:tweeter1, 
								nil, 
								:class => "main",
								:value => params[:tweeter1]
			%>
			
			<br/>

			<label for="tweeter2">Screen Name:</label>
			<%= text_field_tag 	:tweeter2, 
								nil, 
								:class => "main",
								:value => params[:tweeter2]
			%>
		</span>
		<span class="inline">
			<%= radio_button_tag :type, "degrees", (@type.blank? || @type == "degrees") %> Find degrees of separation
			<br />
			<%= radio_button_tag :type, "friends", (@type == "friends") %> Find shared friends
			<br />
			<%= radio_button_tag :type, "followers", (@type == "followers") %> Find shared followers
		</span>
		<span class="inline">
			<%= submit_tag "Search", :id => "commit", :class => "button" %>
		</span>
	<% end %>
</div>


<!--  add search results stuff  -->
<div id="ResultContainer">
	
	<% if @is_submitted == true %>
	
		<hr>
	
		<p><%= "#{@t1.screen_name} = #{@t1.name}" %></p>
		<p><%= "#{@t2.screen_name} = #{@t2.name}" %></p>
	
		<hr>
	
		<h3><%= get_results_header(@type) %></h3>

		
		<%= will_paginate @collection %>
		<hr>
		<%= render :partial => "friends/api_id", :collection => @collection %>
		<%= will_paginate @collection %>
	
	<% end %>
</div>