<h1><%=@user1.name%></h1>
<% @user1.friends[0..2].each do |friend| %>
  <p><%= friend.name %>, <%= friend.friends.length %>friends</p>
  <hr/>
<% end %>

<h1><%=@user2.name%></h1>
<% @user2.friends[0..2].each do |friend| %>
  <p><%= friend.name %>, <%= friend.friends.length %>friends</p>
  <hr/>
<% end %>

