<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

  	<meta name="Keywords" content=""/>

  	<title><%= "Six Tweets of Separation" %></title>
  
	<%= stylesheet_link_tag 	:all  %>
	<%= javascript_include_tag 	:all %>
</head>
<body>


<!--  trap browsers without javascript -->
<noscript>
	<div id="JavascriptDisabledNotification">
	  <div class="outer">
	    <h1>Attention!</h1>
		<div class="inner">
			<h2>You need to change a setting in your web browser.</h2>
		    <p>This site requires a browser feature called <strong>JavaScript</strong>. All modern browsers 
			support JavaScript. You probably just need to change a setting in order to turn it on.</p>
		    <p>Please see: <a href="http://www.google.com/support/bin/answer.py?answer=23852">How to enable JavaScript in your browser</a>.</p>
		    <p>If you use ad-blocking software, it may require you to allow JavaScript from <strong>sixtweetsofseparation.com</strong>.</p>
		    <p>Once you've enabled JavaScript you can <a href="">try loading this page again</a>.</p>
		    <p>Thank you.</p>
		</div>
	  </div>
	</div>
</noscript>


<!--  basic page layout and generated content  -->
<div id="Page" class="<%= controller.controller_name %>">
	<div id="PageHeader">
		<% link_to root_path do %>
			<img src="/images/logo.gif">
		<% end %>
	</div>
	<div id="PageBody">
		<%= yield %>
	</div>
	<div id="PageFooter">
		<span id="PageFooterCopyright">
			Copyright 2009 MemBrain
		</span>
		<span id="PageFooterPoweredBy">
			Courtesy of <a target="_blank" href="http://membrain.ws">MemBrain</a>
		</span>
	</div>
</div>


</body>
</html>